* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f7fc;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  text-align: center;
  padding: 40px;
}

h1 {
  color: #0d47a1;
  margin-bottom: 30px;
}

.search-box {
  margin-bottom: 30px;
}

.search-box input {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #1976d2;
  border-radius: 5px;
}

.search-box button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #0d47a1;
}

.bus-card {
  width: 400px;
  margin: auto;
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.bus-card h2 {
  margin-bottom: 15px;
  color: #1565c0;
}

.bus-card p {
  margin: 10px 0;
  font-size: 18px;
}

.bus-card button {
  margin-top: 20px;
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bus-card button:hover {
  background: darkgreen;
}
.navbar {
  background: #0d47a1;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-left: 30px;
  cursor: pointer;
  font-weight: bold;
}

.navbar li:hover {
  color: yellow;
}
.hero {
  background: linear-gradient(135deg, #1565c0, #0d47a1);
  color: white;
  text-align: center;
  padding: 70px 20px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
}
.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: yellow;
}
select {
  width: 250px;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 8px;
}

button {
  padding: 10px 18px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #1565c0;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #0d47a1;
}